<div class='CenterAlignText'>
<p>All Transactions </p>
  <table>
    <tr>
      <th>Bank</th>
      <th>Date</th>
      <th>Description</th>
      <th>Type</th>
      <th>Category</th>
      <th>Amount</th>
      <th></th>
    </tr>

  <% @transactions.each() do |transaction| %>
  <tr> 
    <td><%= transaction.bank_name %></td>
    <td><%= transaction.transaction_date%></td>
    <td><%= transaction.description%></td>
    <td><%= transaction.type%></td>
    <td><%= transaction.category_id%></td>
    <td>£<%= sprintf('%.2f', transaction.amount) %></td>
    <td><a href="/transactions/<%= transaction.id %>" class="btn">VIEW</a> </td>
  </tr>
    <% end %> 
  <tr> 
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class='Bold RightTextAlign'>Total: </td>
    <td class='Bold'>£<%= sprintf('%.2f', @total_amount) %></td>
    <td></td>
    </tr>
  </table>
</div>


