<div class='CenterAlignText'>
<p>All Transactions </p>
  <table>
    <tr>
      <th>Bank</th>
      <th>Date</th>
      <th>Description</th>
      <th>Type</th>
      <th>Category</th>
      <th>Amount</th>
      <th></th>
    </tr>

  <% @transactions.each() do |transaction| %>
  <tr> 
    <td><%= transaction.bank_name %></td>
    <td><%= transaction.transaction_date%></td>
    <td><%= transaction.description%></td>
    <td><%= transaction.type%></td>
    <td><%= transaction.category_id%></td>
    <td>£<%= sprintf('%.2f', transaction.amount) %></td>
    <td class="cell-no-padding"><a href="/transactions/<%= transaction.id %>" class="btn">VIEW</a> </td>
  </tr>
    <% end %> 
  <tr> 
    <td><p></p> </td>
    <td></td>
    <td></td>
    <td></td>
    <td class='Bold RightTextAlign'>Total: </td>
    <td class='Bold'>£<%= sprintf('%.2f', @total_amount) %></td>
    <td></td>
    </tr>
  </table> 

</div>

<form action="/transactions" method="POST">

  <label for="bank-name-field">Select Bank:</label>
  <input id="bank-name-field" type="text" name="bank_name"/>

  <label for="transaction-date-fields">DD/MON/YY:</label>
  <input id="transaction-date-fields" type="text" name="transaction_date">

  <label for="description-fields">Description:</label>
  <input id="description-fields" type="text" name="description">

  <label for="description-fields">Select Type:</label>
  <input id="description-fields" type="text" name="type">

  <label for="category-select">Select Your Category:</label>
  <select id="category-select" name="category_id">
    <% for category in @categories do%>
    <option value="<%=category.id%>" ><%=category.name%></option> 
    <%end%>
  </select>

  <label for="amount">Amount</label>
  <input id="amount" type="number" step="any" name="amount">

  <input type="submit" value="Add transaction">

</form>

