<div class='CenterAlignText'>
<p>All Transactions </p>
  <table>
    <tr>
      <th>Bank</th>
      <th>Date</th>
      <th>Description</th>
      <th>Type</th>
      <th>Category</th>
      <th>Amount</th>
      <th></th>
    </tr>

  <% @transactions.each() do |transaction| %>
  <tr> 
    <td><%= transaction.bank_name %></td>
    <td><%= transaction.transaction_date%></td>
    <td><%= transaction.description%></td>
    <td><%= transaction.type%></td>
    <td><%= transaction.category.name%></td>
    <td>£<%= sprintf('%.2f', transaction.amount) %></td>
    <td class="cell-no-padding"><a href="/transactions/<%= transaction.id %>" class="btn">VIEW</a> </td>
  </tr>
    <% end %> 
  <tr> 
    <td><p></p> </td>
    <td></td>
    <td></td>
    <td></td>
    <td class='Bold RightTextAlign'>Total: </td>
    <td class='Bold'>£<%= sprintf('%.2f', @total_amount) %></td>
    <td></td>
    </tr>
  </table>
  <p></p>
</div>



<form action="/transactions" method="POST">
  <table>
    <tr>
      <th>Select Bank</th>
      <th>Date (DD/MON/YY)</th>
      <th>Description</th>
      <th>Select Type</th>
      <th>Select Category</th>
      <th>Give Amount</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <label for="bank-name-field"></label>
        <input id="bank-name-field" type="text" name="bank_name"/>
      </td>

      <td>
        <label for="transaction-date-fields"></label>
        <input id="transaction-date-fields" type="text" name="transaction_date">
      </td>
      <td>
        <label for="description-fields"></label>
        <input id="description-fields" type="text" name="description">
      </td>

      <td>
        <label for="description-fields"></label>
        <input id="description-fields" type="text" name="type">
      </td>

      <td>
        <label for="category-select"></label>
        <select id="category-select" name="category_id">
          <% for category in @categories do%>
          <option value="<%=category.id%>" ><%=category.name%></option> 
          <%end%>
        </select>
      </td>

      <td>
        <label for="amount"></label>
        <input id="amount" type="number" step="any" name="amount">
      </tr>

      <td> 
        <input type="submit" value="Add transaction">
      </td>

</form>

