<p>Transaction Details:</p>

<p>Bank:  <%= @transaction.bank.name %></p>
<p>Date: <%= @transaction.transaction_date%></p>
<p>Description: <%= @transaction.description%></p>
<p>Type: <%= @transaction.type%></p>
<p>Category: <%= @transaction.category.name%></p>
<p>Amount: <%= @transaction.amount %></p>
<hr/>

<form action="/transactions/<%= @transaction.id %>/delete" method="post">
 <a href="/transactions/<%= @transaction.id %>/edit"></a>
   <input class="btn transaction" type="submit" value="DELETE TRANSACTION">
  </form>
  <a href="/transactions/<%= @transaction.id %>/edit" class="btn transaction">UPDATE</a>
