<h3>Transaction Details:</h3>
<table>

  <tr>
    <th><a class="link" href="/banks">Bank <div class="icon"><i id="icon-mag" class="im im-magnifier"></i></div></th>
    <th>Date</th>
    <th>Description</th>
    <th>Type</th>
    <th><a class="link" href="/categories">Category <div class="icon"><i id="icon-mag" class="im im-magnifier"></i></div></th>
    <th>Amount</th>
    <th></th>
  </tr>
  <tr>
    <td><img src="<%= @transaction.bank.logo_url %>" alt="Bank Logo"</td>
    <td><%= @transaction.transaction_date%></td>
    <td><%= @transaction.description%></td>
    <td><%= @transaction.type%></td>
    <td><%= @transaction.category.name%></td>
    <td>£<%= @transaction.amount %></td>
    <td><a href="/transactions/<%= @transaction.id %>/edit" class="btn slim-cell">UPDATE</a></td>
  </tr>
</table>
<p>
<form action="/transactions/<%= @transaction.id %>/delete" method="post">
 <a href="/transactions/<%= @transaction.id %>/edit"></a>
   <input class="btn transaction" type="submit" value="DELETE TRANSACTION">
  </form>
  </p>
  
